@font-face {
    font-family: "Agustina Regular";
    src: url("E:/Proyectos/portafolio-2023/portafolio_2023/src/assets/fonts/Agustina-Signature.otf");
}

/*  HEADER   */


.header {
    max-width: 100%;
    padding: 15px 20px;
    margin: 0px auto;
}

.header .logo {
    display: block;
    flex: none;
    float: left;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 10px;
    line-height: normal;
}

.header .logo-name {
    font-family: "Agustina Regular";
    font-weight: bold;
    padding: 0 10px;
    color: white;
}

.grey-color {
    color: gray;
}